body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f4f4f4;
}

input, textarea, select {
    width: 95%;
    margin-bottom: 8px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

button:hover {
    background: darkblue;
}

#dilemmas {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 8px;
}

.dilemma {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 8px;
}

.choices {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
}

.choice {
    margin-bottom: 15px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
}

.questions {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
}

.question {
    margin-bottom: 10px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
}

.delete-btn {
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
